#  Name         : Makefile
#  Version      : V2.01
#  Author       : keith.gong (kizerg@163.com)
#  Time         : 2017.02.14
#  Description  : Top level config for FD1616GS project
#                 Copyright (c) 2009-2017 C-Data Co.,Ltd.
#                 All Rights Reserved.
#  Modification : 2017.02.14, keith.gong, created

#  Prefix for the final release image
IMAGE_PREFIX         := FD1616S

#  Define the top level directory path
export APP_DIR       := $(PRJ_ROOT_DIR)/application
export PRJ_BUILD_DIR := $(PRJ_ROOT_DIR)/build
KERNEL_DIR           := $(PRJ_ROOT_DIR)/../kernel
PRJ_MAKE_DIR         := $(PRJ_ROOT_DIR)/make
PLATFORM_DIR         := $(PRJ_ROOT_DIR)/platform
RELEASE_DIR          := $(PRJ_ROOT_DIR)/release
HOSTTOOLS_DIR        := $(PRJ_ROOT_DIR)/hosttools
PRJ_INC_DIR          := $(PRJ_ROOT_DIR)/include

#  Define the others directory path
export VTYSH_DIR     := $(APP_DIR)/vtysh
SNMP_DIR             := $(APP_DIR)/snmpd
SSH_DIR              := $(APP_DIR)/ssh
export COM_DIR       := $(APP_DIR)/common

MONITOR_DIR          := $(APP_DIR)/monitor
SYSTEM_DIR           := $(APP_DIR)/system
FWLOADER_DIR         := $(SYSTEM_DIR)/fwloader
FLASH_DIR            := $(SYSTEM_DIR)/flash
SYSCTRL_DIR          := $(SYSTEM_DIR)/sysctrl

IPC_DIR	             := $(APP_DIR)/ipc
SWAPP_DIR            := $(APP_DIR)/switch

PONHWAL_DIR  	     := $(PRJ_ROOT_DIR)/platform/ponhwal
PONDRV_DIR    	     := $(PRJ_ROOT_DIR)/platform/pondrv
PONSDK_DIR	         := $(PRJ_ROOT_DIR)/platform/ponsdk
LIBEV_DIR            := $(PRJ_ROOT_DIR)/platform/libev
ZLIB_DIR             := $(PRJ_ROOT_DIR)/platform/zlib
PON_ADP_DIR          := $(PRJ_ROOT_DIR)/platform/ponadp
PONOMCI_DIR          := $(PRJ_ROOT_DIR)/platform/ponomci
SQLITE_DIR           := $(PRJ_ROOT_DIR)/platform/sqlite
PONONUCFG_DIR        := $(PRJ_ROOT_DIR)/platform/pononucfg
PONPROFILE_DIR       := $(PRJ_ROOT_DIR)/platform/ponprofile
GPON_DIR             := $(APP_DIR)/gpon
GPON_DEVCTRL_DIR     := $(GPON_DIR)/devctrl
GPON_PONCFG_DIR      := $(GPON_DIR)/poncfg
GPON_ONUCFG_DIR      := $(GPON_DIR)/onucfg
GPON_PROFILE_DIR     := $(GPON_DIR)/profile
GPON_ONURA_DIR       := $(GPON_DIR)/onura
GPON_ALARM_DIR       := $(GPON_DIR)/alarm
export GPON_SUB_DIRS := $(GPON_DEVCTRL_DIR) $(GPON_ONUCFG_DIR) $(GPON_PONCFG_DIR) $(GPON_PROFILE_DIR) $(GPON_ONURA_DIR)
export GPON_SUB_INC_DIRS := $(addsuffix /include, $(GPON_SUB_DIRS))

export FW_ROOTFS_DIR := $(PRJ_BUILD_DIR)/rootfs_for_fw

PRJ_LIB_DIR          := $(PRJ_BUILD_DIR)/libs
PRJ_OBJ_DIR          := $(PRJ_BUILD_DIR)/objs
export ROOTFS_DIR    := $(PRJ_BUILD_DIR)/rootfs

ROOTFS_LIB_DIR       := $(ROOTFS_DIR)/lib
export ROOTFS_DRV_DIR:= $(ROOTFS_DIR)/lib/modules
ROOTFS_USR_BIN_DIR   := $(ROOTFS_DIR)/usr/bin

export FW_ROOTFS_USR_BIN_DIR := $(FW_ROOTFS_DIR)/usr/bin
FW_ROOTFS_USR_SHARE_DIR := $(FW_ROOTFS_DIR)/usr/share
FW_ROOTFS_LIB_DIR    := $(FW_ROOTFS_DIR)/lib

export SWSDK_DIR     := $(PLATFORM_DIR)/sdk-xgs-robo-6.4.8

SOCDRV_DIR           := $(PLATFORM_DIR)/socdrv
LINUX_DIR            := $(KERNEL_DIR)/linux-3.6.5
#export CROSS_COMPILE := $(PRJ_ROOT_DIR)/host/usr/bin/arm-linux-
export CROSS_COMPILE := 
export GNUTOOLSHOME  := $(PRJ_ROOT_DIR)/host/usr
export CC            := $(CROSS_COMPILE)gcc
export STRIP         := $(CROSS_COMPILE)strip
export LD            := $(CROSS_COMPILE)ld
export AR            := $(CROSS_COMPILE)ar

export RM            := rm -rf
export MV            := mv -f
export CP            := cp -rf
export MKDIR         := mkdir -p
export ECHO          := echo
export MAKE          := make 
export LS            := ls -hgGl
export LN            := ln -fs
export CD            := cd
export TARB          := tar -jcf
export TARG          := tar -zcf
export CHMOD	     := chmod

export MKIMG1        := $(PRJ_ROOT_DIR)/host/usr/bin/mkimage
export MKFBOX        := $(HOSTTOOLS_DIR)/mkfilebox
export MKIMG         := $(HOSTTOOLS_DIR)/mkimage

#export CPU_ENDIAN = __BIG_ENDIAN__
export CPU_ENDIAN = __LITTLE_ENDIAN__

# support snmp : y, else n
# stephen.liu, 20160913
export SUPPORT_SNMP := n

export CDT_PRODUCT = FD1616S
export CDT_DEV_TYPE  := 0x01060701

export CDT_PON_TYPE  := 0x01060702

export CDT_MAIN_TYPE := 0x01060703
